{%  extends "base.html" %}
{%  block content %}
    <div class="container">
        <h2>Hello, {{ user_name }}!</h2>
        <h2>Restaurant List:</h2>
        <a class="btn btn-outline-success btn-sm" href="/restaurant/new">Add a Restaurant</a>
        {% for restaurant in restaurants %}
            <h3><a href="/restaurant/{{ restaurant.name }}">{{restaurant.name}}</a></h3>
            <p> has a review of {{ restaurant.review }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}